# Proteção contra listagem de diretórios
Options -Indexes

# Ativar Rewrite Engine
RewriteEngine On

# Força HTTPS mantendo query string
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,QSA]

# Proteção de Arquivos Sensíveis
<FilesMatch "\.(env|sql|log|json)$">
    Require all denied
</FilesMatch>
